input[type="date"] {
  padding: 8px 8px 8px 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 0 auto;
  flex-grow: 1;
  display: flex;
}

.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
}

@media (max-width: 500px) {
  .input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
  }
}
