.button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.61);
  text-align: center;
  text-decoration: none;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.button-wrapper {
  padding: 8px;
}
@media (max-width: 800px) {
  .button-wrapper {
    flex: 1 1 1 calc(33.333% - 10px); /* Sets the basis for each item to be a third of the container width minus the gap */
  }
}