.header-wrapper {
  color: #fff;
  float: left;
  width: 100%;
}

.title {
  font-size: 24px;
  font-weight: bold;
  padding-left: 8px;
  cursor: pointer;
}

.header-navigation-menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 0 12px;
}

.navigation {
  display: flex;
}

.link {
  margin-right: 16px;
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

.link:hover {
  text-decoration: underline;
}

.home-icon {
  border: 2px solid #fff;
}
@media (max-width: 500px) {
  .header-navigation-menu-container {
    position: sticky;
    top: 0;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 0 12px;
  }
}