.category-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 24px 0px 16px 0px;
}
@media (max-width: 800px) {
  .category-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 10px; 
    padding: 24px 0px 16px 0px;
  }
}