.search-form {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 8px 8px 8px 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-right: 8px;
  flex-grow: 1;
  width: 400px;
}

.search-button {
  padding: 8px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.search-button-disabled {
  padding: 8px;
  font-size: 16px;
  background-color: #909090;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: not-allowed;
}
@media (max-width: 500px) {

.search-input {
  padding: 8px 8px 8px 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-right: 8px;
  flex-grow: 1;
  width: 200px;
}
}